/*common shared style*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #E55473;

}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    border:0;
    padding: 20px 43px;
    font-weight: 700;
}


.section-title{
    color: #272727;
text-align: center;

font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.section-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}

  
  
 /*header related style*/
 .header{
    width: 1440px;
   height: 850px;
   flex-shrink: 0;
   background: rgba(229, 84, 115, 0.10);
   /* padding: 200px 240px 140px 240px; */


 }
 .banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }
 .banner-content{
    height: 708px;
    height: 506px;
 }
 .banner.pic{
    width: 630px;
 }
.banner-greeting{
    font-size: 45px;
    color: #272727;
    margin-bottom: 0;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);

   font-size: 18px;
   font-weight: 400;
   line-height: 30px; /* 166.667% */
   margin-top: 5px;
}


/*main section styles*/



/*featured section*/
.featured{
    margin: 130px 0;
    align-items: center;
    
}
.flower-tree{
    display: flex;
    justify-content: space-around;
}
.flower1{

    text-align: center;
    display:inline;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    
}
.flower2{

    text-align: center;
    display:inline;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(3, 3, 3, 0.15);
    
}
.flower3{

    text-align: center;
    display:inline;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(79, 211, 31, 0.15);
    
}

.flower-title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px; /* 145.833% */
text-decoration-line: underline;
}


/*contact section*/
.contact{
    width: 1440px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
}

.contact-description{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 35px; /* 145.833% */
}
 
.contact-item{
   display:flex;
   justify-content:space-around;

}
/*discount section*/
.discount-title{
    color: #272727;
    
    font-size: 40px;
   
    font-weight: 800;
    
    text-align: center;
}


.sign-up{
    text-align: center;
    margin-top: 50px;
   width: 100%;
   margin: 0 auto;
   }
   
   .img{
    width: 318px;
    /* height: 420px; */

   }
   .discount_img{
    width: 50%;
    margin: 0 auto;

   }

   /*instagram section*/
.flower-box{
    display: flex;
    justify-content: space-around;
}
/*deals section*/

.deals input[type="email"]
{
    color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 16px;

font-weight: 400;

    width: 700px;
height: 64px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;

}
.deals-section{
    background-image: url('../flower-shop-assignment/Flower\ asset/Rectangle 9.png');
    width: 1440px;
height: 449px;
border-radius: 8px;


}
.deals-itam{
    justify-content: center;
}
/*footer part*/
footer{
    width: 1440px;
   height: 449px;
   flex-shrink: 0;
   background: #111010;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-description{
    color: rgba(255, 255, 255, 0.40);
text-align: center;

font-size: 16px;

font-weight: 400;
line-height: normal;
}

.footer-para{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.footer-text{
    


    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
}
.footer-title{
    color: #272727;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    
    text-align: center;
}