/*common shared style*/
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    border:0;
    padding: 20px 43px;
    font-weight: 700;
}

  
  
 /*header related style*/
 .header{
    width: 1920px;
height: 850px;
flex-shrink: 0;
background: rgba(229, 84, 115, 0.10);
padding: 200px 240px 140px 240px;


 }
 .banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    
 }
 .banner.pic{
    width: 630px;
 }



 
 